{% extends 'base.html' %}

{% block content %}

<body>
    <header>
        <div id="header1">
            <h1 id="blink1">My Projects</h1>
            <h1 id="blink2">My Projects</h1>
            <h1 id="blink3">My Projects</h1>
        </div>
        <nav>
            <p id="create">
                <a href="{% url 'create_project' %}">Create a new project</a>
            </p>
            <ul id="sidenav">
                {% if user.is_authenticated %}
                <li class="navli">
                    <a href="{% url 'show_my_tasks' %}">My tasks</a>
                </li>
                <li class="navli">
                    <a href="{% url 'list_projects' %}">My projects</a>
                </li>
                <li class="navli">
                    <a href="{% url 'logout' %}">Logout</a>
                </li>
                {% else %}
                <li class="navli">
                    <a href="{% url 'login' %}">Login</a>
                </li>
                <li class="navli">
                    <a href="{% url 'signup' %}">Signup</a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        <div>
            {% if not user.projects.exists %}
            <p>You are not assigned to any projects</p>
            {% else %}
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th id="th2">Number of tasks</th>
                    </tr>
                </thead>
                <tbody>
                    {% for project in projects %}
                    <tr>
                        <td>
                            <a href="{% url 'show_project' project.id %}">{{ project.name }}</a>
                        </td>
                        <td>{{ project.tasks.all|length }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>
    </main>
    {% endblock content %}

</body>

</html>
<!-- replace endif with else, add endif after endfor, should convert it back to rendering as per the instructions/screenshots -->
